@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}


.tech {
  @apply text-7xl max-md:text-2xl max-lg:text-5xl;
}

.tech-container {
  @apply rounded-2xl max-md:rounded-xl max-lg:p-3 border-4 border-neutral-800 p-4 max-md:p-2;
}

.navbar-item {
  @apply hover:text-red-400 hover:shadow-2xs hover:shadow-red-400;
}

.button-link {
  @apply inline-block mt-4 rounded bg-pink-900 px-4 md:px-4 py-2 md:py-2 text-white text-sm font-semibold hover:bg-neutral-700 hover:text-pink-900 transition;
}